body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 400px;
    margin: auto;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}